@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">Current count: @currentCount_2</p>



<button class="btn btn-primary" @onclick="() => {IncrementCount(currentCount);}">Click me</button>
<button class="btn btn-primary" @onclick="() => {IncrementCount(currentCount_2);}">NUMARA</button>
<Check TValue="bool" Checked="@rememberMe" CheckedChanged="@OnRememberMeChanged">Remember Me</Check>




